@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
	background: #14141f;
	color: #fff;
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: none;
	color: unset;
}
